// basic colors
$black: #000;
$white: #fff;
$offwhite: #fefefe;

// layout and elevation
$surface: #F4F5F8;
$belowLevel: #EDEFF6;

// Major colors for app
$primary: #4e89ff;
$secondary: #F8F9FC;
$github: #343a40;

$warning: #FAAD12;
$success: #51C41A;
$error: #FF5F3B;